*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#container{
    height:100%;
    width:100%;
    padding: 1rem;
    display: grid;
    /* grid-template-rows: 200px 300px 400px; */
    /* background-color: blue; */
    /* grid-template-columns: 300px 400px; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap:0.5rem;
}
.items{
background-color: blue;
border: 1px sloid white;
color: aliceblue;
font-size: 1.5rem;
}
.header,.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
