*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
    background-color: black;

}
#container{
    height: 100%;
    width: 100%;
    gap:3rem;
    background-color: palegoldenrod;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    /* border:2px solid white; */
}
.items{
     background-color: palevioletred;
      border: 1px solid white;
      color:white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid white;
}
.box1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.box3{
    grid-column-start:3;
    grid-column-end:5;
}
.box7{
    grid-row-start:3;
    grid-row-end:5;
    grid-column-start:2;
    grid-column-end:3;
}
.box5{
    grid-row-start:2;
    grid-row-end:4;
}
.box11{
    grid-column-start: 3;
    grid-column-end: 5;
}