*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: palevioletred;
    height: 100vh;
    width: 100vw;
}
#container{
    height: 100%;
    width: 100%;
    gap:0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(6,1fr);
}
.items{
    background-color: blue;
    align-items: center;
    color: white;
    font-size: 32px;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
}
@media(min-width:701px) and (min-height:600px){
    #container{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }
    .header,.footer{
          grid-column-start: 1;
          grid-column-end: 4;
    }
    .sidebar{
        grid-row-start:2;
        grid-row-end:4;
    }
    .content1{
        grid-column-start:2;
        grid-column-end:4;
    }
}
@media(min-width:900px){
    .items{
        background-color: black;
    }
@media(min-width:901px){
   #container{
    grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
   }
}
}