*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
}

.navbar{
    position:absolute;
    top:0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    z-index:100;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.6); /* BMW line */
}

.logo{
    width:50px;
    margin-right:30px;
}

.nav-left{
    display:flex;
    align-items:center;
}
.nav-left nav a{
    margin:0 18px;
    text-decoration:none;
    color:white;
    font-weight:500;
    position:relative;
    padding-bottom:6px;
}
.nav-left nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    height:3px;
    background:#1c69d4;
    transition:0.3s;
}

.nav-left nav a:hover::after{
    width:100%;
}

.nav-right i{
    margin-left:22px;
    font-size:20px;
    cursor:pointer;
}
.hero{
    height:100vh;
    background:url("../assests/logo.webp") center/cover no-repeat;
    position:relative;
}

.hero-overlay{
    position:absolute;
    width:55%;
    height:100%;
    background:linear-gradient(90deg,#2c6a92,transparent);
}
.hero-content{
    position:absolute;
    top:35%;
    left:80px;
    color:white;
}

.hero-content .tag{
    letter-spacing:6px;
    font-size:14px;
    margin-bottom:10px;
}

.hero-content h1{
    font-size:160px;
    font-weight:300;
}

.hero-content button{
    margin-top:20px;
    padding:14px 28px;
    background:#1c69d4;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius:4px;
    transition:0.3s;
}

.hero-content button:hover{
    background:#1456b8;
}

.phone-btn{
    position:fixed;
    right:25px;
    bottom:30px;
    width:60px;
    height:60px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.25);
    cursor:pointer;
    z-index:999;
}

.phone-btn i{
    color:#1c69d4;
    font-size:22px;
}
.nav-right i{
    margin-left:22px;
    font-size:20px;
    cursor:pointer;
    color:black;          
}
.nav-right i:hover{
    color:#1c69d4;
    transform:scale(1.1);
    transition:0.3s;
}